@import url('https://fonts.googleapis.com/css?family=Oswald');

h1, h2
{
    line-height: 1;
    margin: 2vh;
}

h1
{
    color: #a3383c;
    text-shadow: 0 0.5vh 0 rgba(163, 56, 60, 0.2);
}

h2
{
    color: #74844f;
    text-shadow: 0 0.5vh 0 rgba(116, 132, 79, 0.2);
}

hr
{
    width: 50vh;
    margin: 3vh auto;
    background-color: #577d8b;
    height: 0.25vh;
    border: 0;
    box-shadow: 0 0.25vh 0 0 rgba(87, 125, 139, 0.2);
}

#container
{
    display: table;
    width: 100%;
    height: 100%;    
    font-size: 5vh;
}

#container > div
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#container img
{
    height: 10vh;
    margin: 0 2vh;
    vertical-align: bottom;
}

/* Override Vuetify dark theme background color */
.theme--dark
{
    background-color: #111 !important;
}